<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %> - Thank you for your order!</h1>
  </header>


  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="row">Product</th>
          <th>Description</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Item Total</th>
        </tr>
      </thead>
      <tbody>
   
     <%= render 'order', items: @items %>
    
      </tbody>
      <tfoot>
      <tr>
          <th colspan="4">
            EMAIL:
          </th>
          <th>
            <%= @order.email %>
          </th>
        </tr>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= number_to_currency(@order.total_cents / 100.00) %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
